@{
    ViewData["Title"] = "Our Stylists";
}

@model Stylist
@using HairSalon.Models;

<h3>New Stylist</h3>

<form asp-action="New" asp-controller="Stylists" method="post">
    @Html.AntiForgeryToken()
    <label asp-for="Name">Name: </label>
    <input asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger"></span>

    <label asp-for="Specialty">Specialty: </label>
    <input asp-for="Specialty" />
    <span asp-validation-for="Specialty" class="text-danger"></span>

    <label asp-for="Wage">Wage: </label>
    <input asp-for="Wage" />
    <span asp-validation-for="Wage" class="text-danger"></span>

    <button type="submit">Add Stylist</button>
</form>

@Html.ValidationSummary(true, "", new { @class="text-danger" })